parameters:
  - name: workingDirectory
    type: string
  - name: serviceConnection
    type: string
  - name: tfStateResourceGroup
    type: string
  - name: tfStateStorageAccount
    type: string
  - name: tfStateContainer
    type: string
  - name: tfStateKey
    type: string

steps:
  - task: TerraformTask@5
    displayName: 'Terraform Init'
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: ${{ parameters.workingDirectory }}
      backendServiceArm: ${{ parameters.serviceConnection }}
      backendAzureRmResourceGroupName: ${{ parameters.tfStateResourceGroup }}
      backendAzureRmStorageAccountName: ${{ parameters.tfStateStorageAccount }}
      backendAzureRmContainerName: ${{ parameters.tfStateContainer }}
      backendAzureRmKey: ${{ parameters.tfStateKey }}
    env:
      ARM_CLIENT_ID: $(ARM_CLIENT_ID)
      ARM_TENANT_ID: $(ARM_TENANT_ID)
      ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
      ARM_USE_OIDC: $(ARM_USE_OIDC)
      ARM_OIDC_TOKEN: $(ARM_OIDC_TOKEN)
